<%= form_for([@listing, @edit]) do |f| %>
  <% if @edit.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
      <h4><%= pluralize(@edit.errors.count, "error") %> prohibited this edit from being saved:</h4>

      <ul>
      <% @edit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <p><strong>Prompt: </strong><%= @listing.prompt %></p>
    
       
  </div>
  <div class="row">

    <div class="col-md-6">
        <p><strong>Application: </strong></p>
        <p><%= @listing.application %></p>
        <p><strong>Comments for Editor: </strong></p>
        <p><%= @listing.comments %></p>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        <p><strong>Proofread Version: </strong></p>
        <!-- <%= f.label :proofread %> -->
        <%= f.text_area :proofread, rows: @listing.word_count/10, placeholder: "Write edits here", class: "form-control" %>
        </div>
     </div>
  </div>
  <div class="row">
    <div class="form-group">
          <% if @listing.option == "1" %>
                <p><strong>Comments: </strong></p>
          <!-- <%= f.label :comments %> -->
          <%= f.text_area :comments, rows: "5", placeholder: "Write comments here", class: "form-control" %>
    </div>
  </div>   

        <% end %>
        
        
          <div class="form-group">
        <%= f.submit "Preview Edit", class: "btn btn-success" %>
      </div>
     
     
    
  
    <br>
<% end %>
