<%= form_for([@listing, @edit]) do |f| %>
  <% if @edit.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% @edit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <h4><strong>Essay Type: </strong><%= @listing.name %></h4>
    <p><strong>Prompt: </strong><%= @listing.prompt %></p>
    <p><strong>Pricing Option: </strong>
        <% if @listing.option == "0" %>
              Basic Proofread
          <% else %>
            Proofread and Comments
          <% end %></p>
       
        <% if @listing.option == "0" %>
            <% if @listing.word_count < 1100 %>
                <p><strong>Price: </strong><%= number_to_currency(@listing.word_count * 0.33) %></p>
            <% else %>
                <p><strong>Price: </strong><%= number_to_currency(@listing.word_count * 0.30) %></p>
            <% end %>
        <% else %>
            <% if @listing.word_count < 1100 %>
                <p><strong>Price: </strong><%= number_to_currency(@listing.word_count * 0.66) %></p>
            <% else %>
                <p><strong>Price: </strong><%= number_to_currency(@listing.word_count * 0.60) %></p>
            <% end %>
        <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
        <p><strong>Application: </strong></p>
        <p><%= @listing.application %></p>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        <p><strong>Proofread Version: </strong></p>
        <!-- <%= f.label :proofread %> -->
        <%= f.text_area :proofread, rows: @listing.word_count/10, placeholder: "Write edits here", class: "form-control" %>
      </div>
       <div class="form-group">
          <% if @listing.option == "1" %>
                <p><strong>Comments: </strong></p>
          <!-- <%= f.label :comments %> -->
          <%= f.text_area :comments, rows: "5", placeholder: "Write comments here", class: "form-control" %>
              <% end %>
        
        </div>
     </div>
     </div>  

      <div class="form-group">
        <%= f.submit "Complete Edit", class: "btn btn-success" %>
      </div>
  
    <br><br><br>
<% end %>
