<div class="center">
  <h1>Your Job History /(Profile page?)</h1>
</div>

<p>Attach image here</p>

<p>Attach stats (number of listings, number of jobs completed, rankings, reviews)</p>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="center">Document Type</th>
        <th class="center">Requester</th>
        <th class="center">Date Edited</th>
        <th class="center">Money made</th>
        <th class="center"></th>
        
      </tr>
    </thead>

    <tbody>
      <% @edits.each do |edit| %>
        <tr>
          <td class="center"><%= edit.listing.name %></td>
          <td class="center"><%= edit.requester.name %></td>
          <td class="center"><%= edit.created_at.strftime("%B %-d, %Y") %></td>
           <td class="center">Still need to calculate</td>
           <td class="form-group"><%= link_to "View Order", listing_edit_path([@edit.listing_id, @edit]), class: "btn btn-primary" %></td>
           
          
                </tr>
      <% end %>
    </tbody>
  </table>

<p> Add comments section down here for others to give them feedback?</p>
  
 
<br>

<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data: { no_turbolink: true } %>
<% end %>
  