<div class="row">
  <div class="thumbnail col-md-2">
    <p><%= link_to image_tag(current_user.avatar.url(:medium)), edit_user_registration_path %></p>
  </div>
  <div class="col-md-4">
      <h3><strong><%= current_user.name %></strong></h3>
      <p>Last online: <%= current_user.last_sign_in_at.strftime("%B %-d, %Y") %></p>
  </div>
  <div class="col-md-3">
      <h3></h3>
      <p><strong>Number of Listings: </strong><%= Listing.count :conditions => [ 'user_id = ?', current_user] %></p>
      <p><strong>Number of Jobs Completed: </strong><%= Edit.count :conditions => ['editor_id = ?', current_user] %></p>
       <p class="form-group"><%= link_to 'Manage Requests', requested_path, class: "btn btn-primary" %></p>
        <p class="form-group"><%= link_to 'Create Listing', new_listing_path, class: "btn btn-primary" %></p>
  </div>
</div>


<p>Attach stats (Reviews)</p>

<div class="row">
  <div class="col-md-6">
    <h3>Your Completed Requests</h3>
    <table class="table table-bordered table-striped">
   
      <tr>
        <th class="center">Document Type</th>
        <th class="center">Editor</th>
        <th class="center">Date Completed</th>
        <th class="center">Actions</th>        
      </tr>
    
      <% Edit.all.where(requester: current_user).order("created_at DESC").each do |edit| %>
        <tr>
          <td class="center"><%= edit.listing.name %></td>
          <td class="center"><%= edit.editor.name %></td>
          <td class="center"><%= edit.created_at.strftime("%B %-d, %Y") %></td>
          <td class="center form-group"><%= link_to "View", listing_edit_path(edit, edit), class: "btn btn-success" %></td>
        </tr>
      <% end %>
      
    </table>
  </div>
  <div class="col-md-6">
    <h3>Your Job History</h3>
    <table class="table table-bordered table-striped">
          
            <tr>
              <th class="center">Document Type</th>
              <!-- <th class="center">Requester</th> -->
              <th class="center">Date Edited</th>
              <th class="center">Money made</th>
              <th class="center"></th>
              
            </tr>
          

          
            <% Edit.all.where(editor: current_user).order("created_at DESC").each do |edit| %>
              <tr>
                <td class="center"><%= edit.listing.name %></td>
<!--                <td class="center"><%= edit.requester.name %></td> -->
                <td class="center"><%= edit.created_at.strftime("%B %-d, %Y") %></td>
                 <td class="center"><%= number_to_currency(edit.listing.price) %></td>
                 <td class="center form-group"><%= link_to 'View', listing_edit_path(edit, edit), class: "btn btn-success" %></td>          
              </tr>
            <% end %>
          
        </table>
  </div>
  
</div>
    

  
 
<br>


  