<div class="row">
    <h4><strong>Essay Type: </strong><%= @edit.listing.name %></h4>
    <p><strong>Prompt: </strong><%= @edit.listing.prompt %></p>
    <p><strong>Pricing Option: </strong>
        <% if @edit.listing.option == "0" %>
              Basic Proofread
          <% else %>
            Proofread and Comments
          <% end %></p> 
  </div>
  <div class="row">
    <div class="col-md-6">
        <p><strong>Application: </strong></p>
        <p><%= @edit.listing.application %></p>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        <p><strong>Proofread Version: </strong></p>
        <p><%= @edit.proofread %></p>
      </div>
       <div class="form-group">
          <% if @edit.listing.option == "1" %>
                <p><strong>Comments: </strong><%= @edit.comments %></p>
          <% end %>
       </div>
     </div>
     </div>  
  
<%= link_to 'Back', dashboard_path %>
