<% if (current_user == @edit.editor) && @edit.proofread1.nil? %>
  <div class="row">
        <div class="col-md-5">
            <h1>Preview Proofread</h1>
            <h4>You can still go back and edit. Proofread is not yet final</h4>
            <% if @listing.option == "1" %>
              <p>Please make sure that grading table and comments have been completed</p>
            <br> <% end %>
        </div>
    </div>
  <div class="row">
      <div class="col-md-6">
        <p><strong>Prompt: </strong><%= @listing.prompt %></p>
      </div>
      <div class="col-md-6">
        <div class="form-group">
                <p><%= link_to "Submit Proofread", new_listing_edit_proofread1_path(@listing, @edit), class: "btn btn-primary" %> &nbsp; &nbsp; 
                <%= link_to 'Cancel Proofread', listing_edit_path(@listing, @edit), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></p>
            </div>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-6">
          <p><strong>Application: </strong></p>
          <p><%= simple_format(@listing.application) %></p>
      </div>
      <div class="col-md-6">
          <div class="form-group">
          <p><strong>Proofread Version: </strong></p>
          <p><%= simple_format(@edit.proofread) %></p>
        </div>
        
       </div>
       </div>  
<% if @listing.option == "1" %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Grading Table</h3>
      <table class="table table-bordered">
        <tr>
          <th class="center">Category</th>
          <th class="center">Score</th>
          <th class="center">Reasoning</th>
          <th class="center">Suggestions</th>
        </tr>
        <tr>
          <td><u>1. Purpose:</u></td>
          <td><%= @edit.one_score %></td>
          <td><%= @edit.one_reason %></td>
          <td><%= @edit.one_suggestion %></td>
        <tr>
        <tr>
          <td><u>2. Development/Organization:</u></td>
           <td><%= @edit.two_score %></td>
          <td><%= @edit.two_reason %></td>
          <td><%= @edit.two_suggestion %></td>
        <tr>
        <tr>
          <td><u>3. Examples:</u></td>
            <td><%= @edit.three_score %></td>
          <td><%= @edit.three_reason %></td>
          <td><%= @edit.three_suggestion %></td>
        <tr>
          <td><u>4. Takeaway:</u></td>
            <td><%= @edit.four_score %></td>
          <td><%= @edit.four_reason %></td>
          <td><%= @edit.four_suggestion %></td>
        </tr>
      </table>
    </div></div>
   <div class="col-md-1"></div>
  </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md'10">
          <div class="form-group">
              <p><strong>Additional Comments: </strong><%= simple_format(@edit.comments) %></p>
          </div>
      </div>
     <div class="col-md-1"></div>
  <div>
<% end %>

<% elsif (current_user == @edit.editor) && !@edit.proofread1.nil? %>
  <div class="row">
        <div class="col-md-5">
            <h1>My Proofread</h1>
            <br>
        </div>
    </div>
  <div class="row">
      <div class="col-md-6">
        <p><strong>Prompt: </strong><%= @edit.listing.prompt %></p>
      </div>
      
    </div> 
    <div class="row">
      <div class="col-md-6">
          <p><strong>Application: </strong></p>
          <p><%= simple_format(@listing.application) %></p>
      </div>
      <div class="col-md-6">
          <div class="form-group">
          <p><strong>Proofread Version: </strong></p>
          <p><%= simple_format(@edit.proofread) %></p>
        </div>
         <div class="form-group">
            <% if @listing.option == "1" %>
                  <p><strong>Comments: </strong><%= simple_format(@edit.comments) %></p>
            <% end %>
         </div>
       </div>
       </div> 
       <% if @listing.option == "1" %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Grading Table</h3>
      <table class="table table-bordered">
        <tr>
          <th class="center">Category</th>
          <th class="center">Score</th>
          <th class="center">Reasoning</th>
          <th class="center">Suggestions</th>
        </tr>
        <tr>
          <td><u>1. Purpose:</u></td>
          <td><%= @edit.one_score %></td>
          <td><%= @edit.one_reason %></td>
          <td><%= @edit.one_suggestion %></td>
        <tr>
        <tr>
          <td><u>2. Development/Organization:</u></td>
           <td><%= @edit.two_score %></td>
          <td><%= @edit.two_reason %></td>
          <td><%= @edit.two_suggestion %></td>
        <tr>
        <tr>
          <td><u>3. Examples:</u></td>
            <td><%= @edit.three_score %></td>
          <td><%= @edit.three_reason %></td>
          <td><%= @edit.three_suggestion %></td>
        <tr>
          <td><u>4. Takeaway:</u></td>
            <td><%= @edit.four_score %></td>
          <td><%= @edit.four_reason %></td>
          <td><%= @edit.four_suggestion %></td>
        </tr>
      </table>
    </div></div>
    <div class="col-md-1"></div>
  </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md'10">
          <div class="form-group">
              <p><strong>Additional Comments: </strong><%= simple_format(@edit.comments) %></p>
          </div>
      </div>
     <div class="col-md-1"></div>
  <div>
<% end %>

<% elsif (current_user != @edit.editor) && !@edit.proofread1.nil? %>
  <div class="row">
        <div class="col-md-5">
            <h1>Proofread</h1>
            <br>
        </div>
    </div>
  <div class="row">
      <div class="col-md-6">
        <p><strong>Prompt: </strong><%= @edit.listing.prompt %></p>
      </div>
      
    </div> 
    <div class="row">
      <div class="col-md-6">
          <p><strong>Application: </strong></p>
          <p><%= simple_format(@listing.application) %></p>
      </div>
      <div class="col-md-6">
          <div class="form-group">
          <p><strong>Proofread Version: </strong></p>
          <p><%= simple_format(@edit.proofread) %></p>
        </div>
         <div class="form-group">
            <% if @listing.option == "1" %>
                  <p><strong>Comments: </strong><%= simple_format(@edit.comments) %></p>
            <% end %>
         </div>
       </div>
       </div>   
<% if @listing.option == "1" %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Grading Table</h3>
      <table class="table table-bordered">
        <tr>
          <th class="center">Category</th>
          <th class="center">Score</th>
          <th class="center">Reasoning</th>
          <th class="center">Suggestions</th>
        </tr>
        <tr>
          <td><u>1. Purpose:</u></td>
          <td><%= @edit.one_score %></td>
          <td><%= @edit.one_reason %></td>
          <td><%= @edit.one_suggestion %></td>
        <tr>
        <tr>
          <td><u>2. Development/Organization:</u></td>
           <td><%= @edit.two_score %></td>
          <td><%= @edit.two_reason %></td>
          <td><%= @edit.two_suggestion %></td>
        <tr>
        <tr>
          <td><u>3. Examples:</u></td>
            <td><%= @edit.three_score %></td>
          <td><%= @edit.three_reason %></td>
          <td><%= @edit.three_suggestion %></td>
        <tr>
          <td><u>4. Takeaway:</u></td>
            <td><%= @edit.four_score %></td>
          <td><%= @edit.four_reason %></td>
          <td><%= @edit.four_suggestion %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md'10">
          <div class="form-group">
              <p><strong>Additional Comments: </strong><%= simple_format(@edit.comments) %></p>
          </div>
      </div>
     <div class="col-md-1"></div>
  <div>
<% end %>

<% elsif current_user.try(:admin?) %>
  <div class="row">
        <div class="col-md-5">
            <h1>Proofread Details</h1>
            <p>Editor: <%= @edit.editor.name %></p>
            <p>Customer: <%= @edit.requester.name %></p>
            <br>
        </div>
    </div>
  <div class="row">
      <div class="col-md-6">
        <p><strong>Prompt: </strong><%= @edit.listing.prompt %></p>
      </div>
      
    </div> 
    <div class="row">
      <div class="col-md-6">
          <p><strong>Application: </strong></p>
          <p><%= simple_format(@listing.application) %></p>
      </div>
      <div class="col-md-6">
          <div class="form-group">
          <p><strong>Proofread Version: </strong></p>
          <p><%= simple_format(@edit.proofread) %></p>
        </div>
         <div class="form-group">
            <% if @listing.option == "1" %>
                  <p><strong>Comments: </strong><%= simple_format(@edit.comments) %></p>
            <% end %>
         </div>
       </div>
       </div>   
       <% if @listing.option == "1" %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Grading Table</h3>
      <table class="table table-bordered">
        <tr>
          <th class="center">Category</th>
          <th class="center">Score</th>
          <th class="center">Reasoning</th>
          <th class="center">Suggestions</th>
        </tr>
        <tr>
          <td><u>1. Purpose:</u></td>
          <td><%= @edit.one_score %></td>
          <td><%= @edit.one_reason %></td>
          <td><%= @edit.one_suggestion %></td>
        <tr>
        <tr>
          <td><u>2. Development/Organization:</u></td>
           <td><%= @edit.two_score %></td>
          <td><%= @edit.two_reason %></td>
          <td><%= @edit.two_suggestion %></td>
        <tr>
        <tr>
          <td><u>3. Examples:</u></td>
            <td><%= @edit.three_score %></td>
          <td><%= @edit.three_reason %></td>
          <td><%= @edit.three_suggestion %></td>
        <tr>
          <td><u>4. Takeaway:</u></td>
            <td><%= @edit.four_score %></td>
          <td><%= @edit.four_reason %></td>
          <td><%= @edit.four_suggestion %></td>
        </tr>
      </table>
    </div></div>
    <div class="col-md-1"></div>
  </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md'10">
          <div class="form-group">
              <p><strong>Additional Comments: </strong><%= simple_format(@edit.comments) %></p>
          </div>
      </div>
     <div class="col-md-1"></div>
  <div>
<% end %>
<% end %>
  <br>
<% if current_user == @edit.editor %>
    <% if @edit.proofread1.nil? %>
        <%= link_to 'Edit', edit_listing_edit_path(@listing, @edit), class: "btn btn-link" %> |
        <% end %>
    <%= link_to 'Back', listing_path(@listing), class: "btn btn-link" %>
<% else %>
    <%= link_to 'Back', listings_path, class: "btn btn-link" %>
<% end %>