<div class="center">
  <h1>Your Completed Requests</h1>
</div>


  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="center">Document Type</th>
        <th class="center">Prompt</th>
        <th class="center">Editor</th>
        <th class="center">Date Completed</th>
        <th class="center">Actions</th>
        
        
      </tr>
    </thead>

    <tbody>
      <% @edits.each do |edit| %>
        <tr>
          <td class="center"><%= edit.listing.name %></td>
          <td class="center"><%= edit.listing.prompt %></td>
          <td class="center"><%= edit.editor.name %></td>
          <td class="center"><%= edit.created_at.strftime("%B %-d, %Y") %></td>
            
           <td class="form-group"><%= link_to "View Order", listing_edit_path([@listing, @edit]) %></td>
           
            
         
          
        </tr>
      <% end %>
    </tbody>
  </table>
  
 
<br>

<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data: { no_turbolink: true } %>
<% end %>
  