  <% if user_signed_in? && current_user.try(:editor?) %>
    <h1>Browse Listings</h1>
    <% if current_user.try(:admin?) %>
      <h4>Number listings: <%= Listing.count(:id) %> | Completed (change to final edit step): <%= Edit.count(:id) %></h4>
      <% end %>

      <table class="table table-bordered table-striped">
        <tr>
            <th class="center">Requester</th>
            
            <th class="center">Prompt</th>
            <th class="center">Option</th>
            <% if current_user.try(:admin?) %>
              <th class="center">Price <br>(Full | To Editor)</th>
            <% else %>
              <th class="center">Price</th>
            <% end %>
            <th class="center">Status</th>
        </tr>
           
        <% @listings.order("created_at DESC").each do |listing| %>
          <tr>
            <td>
              <a href="/users/<%= listing.user.id %>"><%= listing.user.name %></a></td>
            
            <td><%= listing.prompt %></td>
            <td>
              <% if listing.option == "0" %>
                  <p>Basic</p>
              <% else %>
                <p>Standard Proofread and Comments</p>
              <% end %>
            </td>
            <% if current_user.try(:admin?) %>
                <td><%= number_to_currency(listing.price * 0.16) %>  | <%= number_to_currency(listing.price * 0.15 * 0.25) %></td>
            <% else %>
                 <td><%= number_to_currency(listing.price * 0.15 * 0.25) %></td>
            <% end %>
            
              <% if !listing.edit.nil? %>
                <% if !listing.edit.proofread1.nil? %>
                   <td><p><%= link_to "Completed", listing_edit_path(listing, listing.edit), class: "btn btn-link" %> on <%= listing.edit.proofread1.created_at.strftime("%B %-d, %Y") %> by <a href="/users/<%= listing.edit.editor_id %>"><%= listing.edit.editor.name %></a></p></td>
                <% else %>
                  <td><p><%= link_to "In Progress", listing_edit_path(listing, listing.edit), class: "btn btn-link" %> </p></td> 
                  <% end %>
                      <!-- <%= link_to "In progress", listing, class: "btn btn-link" %> on <%= listing.edit.created_at.strftime("%B %-d, %Y") %> by <a href="/users/<%= listing.edit.editor_id %>"><%= listing.edit.editor.name %></a></p> -->
               
              <% elsif listing.order.nil? %>
                  <% if current_user.try(:admin?) %>
                    <td><p><a href="/listings/<%= listing.id %>">Pending Payment</a> from User</p></td>
                  <% else %>
                  <td><p>Pending Payment from User</p></td>
                  <% end %>
              <% else %>                  
                <td><p><%= link_to 'Available', listing, class: "btn btn-info" %></p></td>
              <% end %>
            
          </tr>
        <% end %>    
      </table>
      


    <% else %>
  <script type="text/javascript">
        window.location.href="/dashboard"  
  </script>
<% end %>