<h1>All Listings</h1>


  <table class="table table-bordered table-striped table-hover">
    <tr>
        <th class="center">Requester</th>
        <th class="center">Name</th>
        <th class="center">Prompt</th>
        <th class="center">Option</th>
        <th></th>
       
      </tr>
    
    <% @listings.each do |listing| %>
      <tr>
        <td>
          <%= listing.user.name %></td>
        <td><%= listing.name %></td>
        <td><%= listing.prompt %></td>
        <td><%= listing.option %></td>
        <td><%= link_to 'View', listing, class: "btn btn-primary" %>       
            </td>
      </tr>
  <% end %>    
  </table>
  
  <ul class="pager">
    <li class="previous"><a href="#">&larr; Older</a></li>
    <li class="next"><a href="#">Newer &rarr;</a></li>
  </ul>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
