<div class="row">
    <div class="col-md-6">
    	<h4><strong>Application: </strong></h4>
   	   	<p><%= @listing.application %></p>
    </div>
    <div class="col-md-6">
		<h4><strong>Document Type: </strong><%= @listing.name %></h4>
		<p><strong>Prompt: </strong><%= @listing.prompt %></p>
        <% if @listing.option == "0" %>
		  <p><strong>Pricing Option: </strong>Basic Proofread</p>
        <% else %>
          <p><strong>Pricing Option: </strong>Proofread and Comments</p>
        <% end %>
        <br>
        <p><strong>Word Count: </strong><%= @listing.word_count %></p>
        <p><strong>Price: </strong><%= number_to_currency(@listing.price) %></p>
        
        <br>
        <% if current_user != @listing.user %>       
            <%= link_to "Proofread Now", new_listing_edit_path(@listing), class: "btn btn-primary" %>
        <% end %>
    </div>
    
</div>


     
<% if current_user == @listing.user %>
    <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
    <%= link_to 'Back', requests_path, class: "btn btn-link" %>
<% else %>
    <%= link_to 'Back', requests_path, class: "btn btn-link" %>
<% end %>
