<% if current_user.try(:admin?) %> 
	<h1>User Page</h1>
	
	<h4>Total users: <%= User.count(:id) %> | Total editors: <%= (User.count :conditions => ['editor = ?', true]) - (User.count :conditions => ['admin = ?', true]) %> | Total regular users: <%= User.count :conditions => ['editor = ?', false] %></h4>
	<br>
	
	<table class="table table-bordered table-striped">
     <tr>
     	<th class="group">Group</th>
        <th class="center">ID</th>
        <th class="center">Name</th>
        <th class="center">Email</th>
        <th class="center">Last Sign In</th>
        <th class="center">Created</th>
        <th class="center">Sign in count</th>
        <th class="center">Current Sign In</th>
        <th class="center">Balance</th>

    </tr>
	  
			<% User.all.where(editor: true).order("created_at DESC").each do |user| %>
	   	<tr>
	  		<% if user.try(:admin?)%>
	  			<td>Admin</td>
	  		<% else %>
	  			<td>Editor</td>
	  		<% end %>
	  		<td><%= user.id %></td>
	  		<td><a href="/users/<%= user.id %>"><%= user.name %></a></td>
	  		<td><%= user.email %></td>
 			<td><%= user.last_sign_in_at.strftime("%B %-d, %Y") %></td>
 			  <td><%= user.created_at.strftime("%B %-d, %Y") %></td>
 			   <td><%= user.sign_in_count %></td>
 			  
 			  <td><%= user.current_sign_in_at %></td>
 			  <td><%= number_to_currency(user.balance) %></td>
 			</tr>
		<% end %>
		<% User.all.where(editor: false).each do |user| %>
	   	<tr>
	  		<td>Regular User</td>
	  		<td><%= user.id %></td>
	  		<td><a href="/users/<%= user.id %>"><%= user.name %></a></td>
	  		<td><%= user.email %></td>
 			  <td><%= user.last_sign_in_at.strftime("%B %-d, %Y") %></td>
 			  <td><%= user.created_at.strftime("%B %-d, %Y") %></td>
 			     <td><%= user.sign_in_count %></td>
 			  
 			  <td><%= user.current_sign_in_at %></td>
 			</tr>
	<% end %>

	</table>

    
	<br>
	<% else %>
		<script type="text/javascript">
    	window.location.href="/dashboard"  
   	    </script>
 <% end %> 

