<div class="row">
	<div class="col-md-3">
		  <div class="thumbnail">
		    <%= image_tag @user.avatar.url(:medium) %>
		  </div>
		</div>

  <div class="col-md-4">
      <h3><strong><%= @user.name %></strong></h3>
      <p>User ID: <%= @user.id %></p>
       <% if @user.try(:admin?) %>
        <p>Admin</p>
      <% else %>
        <% if @user.try(:editor?) %>
          <p>Editor</p>
        <% end %>
      <% end %>
      <p>Last online: <%= @user.last_sign_in_at.strftime("%B %-d, %Y") %></p>
      <p>User since: <%= current_user.created_at.strftime("%B %-d, %Y") %></p>
      <p>Number likes: ????</p>
      <p><%= link_to 'Like', like_user_path(@user), method: :post, class: "btn btn-link" %> | <%= link_to 'Unlike', unlike_user_path(@user), method: :post, class: "btn btn-link" %></p>
      
  </div>
  <div class="col-md-3">
      <h3></h3>
      <% if !@user.try(:admin?) %>
        <p><strong>Number of Listings: </strong><%= Listing.count :conditions => [ 'user_id = ?', @user] %></p>
       <% else %>
        <p><strong>Number of Jobs Completed: </strong><%= Edit.count :conditions => ['editor_id = ?', @user] %></p>
       <% end %>
       <br><br>
         <% if (Review.count :conditions => ['reviewee_id = ?', @user]) == 0 %>
            <p><strong>Rating: </strong>N/A</p>
          <% else %>
            <p><strong>Rating: </strong><%= Review.average(:rating, :conditions => ['reviewee_id = ?', @user]).round(2) %></p>
          <% end %>

    </div>
</div>

<div class="row">
      
   <div class="col-md-8">
      <% if current_user != @user %>    
          <p><%= link_to 'Comment', new_user_review_path(@user), class: "btn btn-link" %></p>
      <% end %>
      <table class="table table-bordered">
    
      <tr>
        <th class="center">Date</th>
        <th class="center">Reviewer</th>
        <th class="center">Comment</th>
        
       </tr>
       
      <% Review.all.where(reviewee: @user).order("created_at DESC").each do |review| %>
        <tr>
          <td><%= review.created_at.strftime("%B %-d, %Y") %></td>
          <td><a href="/users/<%= review.reviewer.id %>"><%= review.reviewer.name %></a></td>
          <td><%= review.statement %></td>
          
       </tr>
      <% end %>
    </div>
</div>
   









  
