<div class="row">
    <div class="col-md-1"></div>
	<div class="col-md-2">
		  <div class="thumbnail">
		    <%= image_tag @user.avatar.url(:medium) %>
		  </div>
		</div>

  <div class="col-md-4">
      <h3><strong><%= @user.name %></strong></h3>
      <p>User ID: <%= @user.id %></p>
       <% if @user.try(:admin?) %>
        <p>Admin</p>
      <% else %>
        <% if @user.try(:editor?) %>
          <p>Editor</p>
        <% end %>
      <% end %>
      <p>Last online: <%= @user.last_sign_in_at.strftime("%B %-d, %Y") %></p>
      <p>User since: <%= current_user.created_at.strftime("%B %-d, %Y") %></p>
       
      

      
  </div>
  <div class="col-md-4">
      <h3></h3>
      <% if !@user.try(:admin?) %>
        <p><strong>Number of Listings: </strong><%= Listing.count :conditions => [ 'user_id = ?', @user] %></p>
       <% else %>
        <p><strong>Number of Jobs Completed: </strong><%= Edit.count :conditions => ['editor_id = ?', @user] %></p>
       <% end %>
       <p><strong>About me: </strong><%= current_user.bio %></p>
       <br><br>
         <% if (Review.count :conditions => ['reviewee_id = ?', @user]) == 0 %>
            <p><strong>Rating: </strong>N/A</p>
          <% else %>
            <p><strong>Rating: </strong><%= Review.average(:rating, :conditions => ['reviewee_id = ?', @user]).round(2) %></p>
          <% end %>

    </div>
</div>


   









  
