<% if !current_user.try(:admin?) %>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/assets/pages.css.scss">
  </head>
  <body>
    <div id="topbanner">
      <div id="titlebox"></div>
    </div>

    <div id="bottombox">
      <div id="textstuff">
        点击即可拥有顶级文书润色服务
      </div>
      <div class="column" id="col1">
        <h2 class="custom" style="color: #97B8C2;">简易自主</h2><!--Simple-->
        我们提供友好的操作平台，所有的自主权都在你手上，无需繁琐冗长的交流过程，轻点鼠标,即刻拥有
      </div>
      <div class="column" id="col2">
        <h2 class="custom" style="color: #97B8C2;">高效处理</h2><!--Quick-->
        短至最多两天的处理时间，一步到位,比传统文书修改处理时间减少65%以上
      </div>
      <div class="column" id="col3">
        <h2 class="custom" style="color: #97B8C2;">顶级质量</h2><!--Quality-->
        所有编辑均为专业受训的，来自美国顶尖高校的native speakers，拥有丰富的申请经验及扎实地道的语言功力
      </div>
      <br />
    </div>

    <div class="row"></div>

    <div id="aboutcontent">
      <div id="what" class="aboutcolumn">
      <h2 class="custom">重新定义文书润色</h2>
      在改改乐，我们提供顶级校对平台，区别于传统的冗长，被动的处理过程，给予顾客简单友好的操作体验
      </div>
      <div id="why" class="aboutcolumn">
      <h2 class="custom">我们的使命与愿景</h2>
      改改乐旨在帮助所有客户可以准确，自由地表达他们的诉求。我们希望帮助DIY学生，摆脱传统申请流程中的不透明和昂贵的花费，以更高的文书质量，申请到理想的海外院校
      </div>
    </div>

    <br><br><br>

    <a id="pricing"></a>
    <h1 class="custom">服务与收费</h1>
    <h3 class="custom">改改乐提供两种价格适宜的服务</h3>

    <table id="prices">
      <tr>
        <th></th>
        <td class="words">基础服务</td>
        <td class="words">优越服务</td>
      </tr>
      <tr>
        <th>零拼写错误</th>
        <td>✔</td>
        <td>✔</td>
      </tr>
      <tr>
        <th>语法梳理与提升</th>
        <td>✔</td>
        <td>✔</td>
      </tr>
      <tr>
        <th>地道纯正润色服务</th>
        <td>✔</td>
        <td>✔</td>
      </tr>
      <tr>
        <th>对逻辑，架构，内容进行评分</th>
        <td></td>
        <td>✔</td>
      </tr>
      <tr>
        <th>根据评分细则分项点评</th>
        <td></td>
        <td>✔</td>
      </tr>
      <tr>
        <th>提供专业读后感意见</th>
        <td></td>
        <td>✔</td>
      </tr>
      <tr>
        <th></th>
        <td class="words">1元／字</td>
        <td class="words">1.5元／字</td>
      </tr>
    </table>

    <% if user_signed_in? %>
        <%= link_to "Create Listing", new_listing_path, class: "push_button blue", id:"order" %>
    <% else %>
      <%= link_to "Get Started", new_user_registration_path, class: "push_button blue", id:"order" %>
    <% end %>

  </body>


</html>
<% else %>
  <h1>Admin Dashboard</h1>
  <h4>Links</h4>
  <p><%= link_to "About", pages_about_path, class: "btn btn-link" %> | <%= link_to "Contact", pages_contact_path, class: "btn btn-link" %> | <%= link_to "Team", pages_team_path, class: "btn btn-link" %> | <%= link_to "Pricing", pages_pricing_path, class: "btn btn-link" %> | <%= link_to "Testimonial", pages_testimonial_path, class: "btn btn-link" %> | <%= link_to "Resources", pages_resources_path, class: "btn btn-link" %></p> 
  
 
  <% end %>


