<% if !current_user.try(:admin?) %>
<html>
  <head>
  </head>
<body style="margin: 0px; padding: 0px; font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;">

<div class="jumbotron">
    <h1><b>顶级校对服务</b></h1>
    
    <h2>Affordable and High Quality Proofreading</h2>
    <p>Professional, people-powered proofreading in one click</p><br><br>
    
</div>


  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">    
	    <center><span style="font-size: 20px; font-weight: bold; color: #586E40;">即将推出</span></center>
	        <p>改改乐是一个网上校对平台, 特别为中国的学生提供专业和合宜的校对服务. 这服务可使他们联繫到高水準及来自美国名校的编辑, 帮助他们改善英文的申请文章, 以致可以成功地申请到海外的大学.</p>
   
    </div>
    
    <div class="col-md-4">
	    <center><span style="font-size: 16px; font-weight: bold; color: #586E40;">COMING SOON</span></center>
	        <p>Gaigaile is an online proofreading platform made specifically for Chinese students looking for high-quality and affordable proofreading for their overseas university application essays.</p>
        </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">

    
    <% if user_signed_in? %>
      <% if !current_user.try(:admin?) %>
        <div class="col-md-2"></div>
        <div class="col-md-4"><%= link_to "Become an Editor!", root_url %></div>
        <div class="col-md-4"><%= link_to "Create Listing", new_listing_path, class: "btn btn-success btn-lg btn-block" %></div>
        <% end %>
    <% else %>
      <div class="col-md-2"></div>
      <div class="col-md-4"><%= link_to "Learn More", pages_about_path, class: "btn btn-info btn-lg btn-block" %></div>
      <div class="col-md-4"><%= link_to "Get Started", new_user_registration_path, class: "btn btn-info btn-lg btn-block" %></div>
    <% end %>
    <div class="col-md-2"></div>
  </div>

<br><br><br>
</body>


</html>
<% else %>
  <h1>Admin Dashboard</h1>
  <p><%= link_to "About", pages_about_path, class: "btn btn-link" %> | <%= link_to "Contact", pages_contact_path, class: "btn btn-link" %> | <%= link_to "Team", pages_team_path, class: "btn btn-link" %> | <%= link_to "Pricing", pages_pricing_path, class: "btn btn-link" %> | <%= link_to "Testimonial", pages_testimonial_path, class: "btn btn-link" %></p>
  
  
  <% end %>


