<% if user_signed_in? && current_user.try(:admin?) %>
	<h1>Order Summary</h1>
	<h4>Total amount made from customers: <%= number_to_currency(Order.sum(:amount) * 0.16) %> | Number orders: <%= Order.count(:id) %></h4>
  

      <table class="table table-bordered table-striped">
        <tr>
            <th class="center">Order made by</th>
            
            <th class="center">Price</th>
            <th class="center">Date made</th>
            
      
         </tr>
           
        <% Order.order("created_at DESC").each do |order| %>
          <tr>
            <td>
              <a href="/users/<%= order.customer.id %>"><%= order.customer.name %></a></td>
            <td><%= number_to_currency(order.listing.price * 0.16) %></td>
             <td><%= order.created_at %></td>
            
            
        </tr>

              <% end %>
      </table>

 <% else %>
  <script type="text/javascript">
        window.location.href="/dashboard"  
  </script>
<% end %>