<%= form_for([@user, @review]) do |f| %>
   <% if @review.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <b><p>How would you rate this user/job?</p></b>
    <%= f.radio_button :rating, '0' %>
    <%= f.label :rating, '0', :value => '0' %>
    <%= f.radio_button :rating, '1' %>
    <%= f.label :rating, '1', :value => '1' %>
    <%= f.radio_button :rating, '2' %>
    <%= f.label :rating, '2', :value => '2' %>
     <%= f.radio_button :rating, '3' %>
    <%= f.label :rating, '3', :value => '3' %>
     <%= f.radio_button :rating, '4' %>
    <%= f.label :rating, '4', :value => '4' %>
        <%= f.radio_button :rating, '5' %>
    <%= f.label :rating, '5', :value => '5' %>
   
   </div>
  
  <div class="form-group">
    <b><p>Comments/Feedback</p></b>
    <%= f.text_area :statement, placeholder: "Enter comments here", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
